<div class="eight columns offset-by-two contact">

<h4><i class="fa fa-certificate"></i> <%= t('.title') %></h4>
<h2><%= t('.subtitle') %></h2>
<hr>
<p><%= t('.text') %></p>
<hr>

<div class="row">
	<div class="three columns">
		<%= image_tag "logo_psr.png", width: '170', alt: "Purple Stone Rooms" %>
		<p><%= t('.rooms') %></p>
	</div>

	<div class="three columns offset-by-one">
		<%= image_tag "logo_psa.png", width: '170', alt: "Purple Stone Academy" %>
		<p><%= t('.academy') %></p>
	</div>
</div>

<hr>

<div class="row">
	<div class="three columns">
		<%= image_tag "logo_psca.png", width: '220', alt: "Purple Stone Career Advice" %>
		<p><%= t('.career') %></p>
	</div>

	<div class="three columns offset-by-one">
		<%= image_tag "logo_psm.png", width: '170', alt: "Purple Stone Media" %>
		<p><%= t('.media') %></p>
	</div>
</div>

</div>