<div class="eight columns offset-by-two contact">

	<h4><i class="fa fa-money"></i> <%= t('.title') %></h4>
	<%= image_tag "img_interior_investment.jpg" %><br /><br />
	<h3><%= t('.subtitle1') %></h3>
	<ul class="disc">
		<% t('.text1').each_line do |listitem| %>
		<li><%= listitem %></li>
		<% end %>
	</ul>

	<hr>

	<h3><%= t('.title2') %></h3>
	<h2><%= t('.subtitle2') %></h2>
	<p><%= t('.subtitle21') %></p>
	<ul class="disc">
		<% t('.text2').each_line do |listitem| %>
		<li><%= listitem %></li>
		<% end %>
	</ul>
	<p><%= t('.moreinfo') %></p>

	<hr>

	<h3><%= t('.title3') %></h3>

	<hr>

	<h3><%= t('.title4') %></h3>
	<h2><%= t('.subtitle4') %></h2>
	<p><%= simple_format t('.text4') %></p>

	<ul class="disc">
		<% t('.text42').each_line do |listitem| %>
		<li><%= listitem %></li>
		<% end %>
	</ul>

	<p><%= t('.text43') %> <%= mail_to "generaldirector@purplestonerooms.com", "General Director", class: "button" %></p>
	<p><%= t('.text44') %></p>
	<note><i class="fa fa-asterisk"></i> <%= t('.note1') %></note><br />
	<note><i class="fa fa-asterisk"></i><i class="fa fa-asterisk"></i> <%= t('.note2') %></note>


</div>
