<div class="eight columns offset-by-two contact">

<h4><i class="fa fa-users"></i> <%= t('.title') %></h4>
<%= image_tag "img_interior_partner.jpg" %><br /><br />
<h3><%= t('.subtitle') %></h3>

<hr>

<p><%= t('.text') %></p>
<%= mail_to "generaldirector@purplestonerooms.com", "General Director", class: "button" %>

</div>
