<!doctype html>
<html>
<head>
  <title>Purple Stone Group</title>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header class="container">
		<div class="row">
			<h1 class="three columns">
				<%= link_to(root_path) do %>
				<%= image_tag "logo_psg.png" %>
				<% end %>
			</h1>

			<div class="four columns">
				<h2>Get High Returns on Your Investments</h2>
			</div>

			<div class="four columns offset-by-one">
				<div>
					<phone>CALL 0207 247 1440</phone>
					<!--  <p>Select Language</p> -->
					<h3>Social Networks Icons</h3>
				</div>

			</div>
		</div> <!--  .row -->

		<nav class="row">
			<ul id="menu">
				<li><%= link_to "HOME", root_path, class: "first" %></li>
				<li><a href="#">INVESTMENT</a></li>
				<li><a href="#">PARTNER WITH US</a></li>
				<li><%= link_to "BLOG", posts_path %></li>
				<li><a href="#">OUR COMPANIES</a></li>
				<li><a class="last" href="#">CONTACT</a></li>
			</ul>
		</nav> <!--  .row -->

	</header> <!--  .container -->


	<div class="body_background">
		<div class="container content">
			<% flash.each do |key, value| %>
				<div class="twelve columns flash <%= key %>"><%= value %></div>
			<% end %>

			<article class="row">
				<%= yield %>
			</article>

			<footer>
				<div class="row">
					<div class="footer_one">
						<div class="seven columns about">
							<h2>About Us</h2>
							<h4>What is Purple Stone Group?</h4>
							<p>Purple Stone Group is a company specialized in real estate, education, marketing and multimedia. The business group, through it's independent limited companies offers a lot of products and services that reflect the high satisfaction of the costumer.</p>
						</div>
						<div class="four columns offset-by-one affiliate">
							<h2>Join Our Affiliate Programme Now!</h2>
							<p>Register in our Free Affiliate Programme and earn generous commissions from sales generated from referrals !</p>
							<button>JOIN US</button>				
						</div>
					</div>
				</div>

				<nav class="row">
					<ul id="menu">
						<li><%= link_to "HOME", root_path, class: "first" %></li>
						<li><a href="#">INVESTMENT</a></li>
						<li><a href="#">PARTNER WITH US</a></li>
						<li><%= link_to "BLOG", posts_path %></li>
						<li><a href="#">OUR COMPANIES</a></li>
						<li><a class="last" href="#">CONTACT</a></li>
					</ul>
				</nav> <!--  #main_nav --> <!--  .row -->

				<div class="footer_two">
					<h1 class="three columns">
						<%= link_to(root_path) do %>
						<%= image_tag "logo_psg_white.png" %>
						<% end %>
					</h1>

					<div class="four columns">
						<h2>Get High Returns on your Investments</h2>
					</div>

					<div class="four columns offset-by-one">
						<div>
							<p>101 Whitechapel High Street<br />
							E1 7RA, London<br />
							0207 247 1440<br />
							Aldgate East</p>
						</div>

					</div>
					<div class="row">
						
					</div>
					
				</div>

				<div class="row copy">
					<p>&copy; <%= Date.today.year %> Purple Stone Group Ltd</p>
				</div>
			</footer>
		</div> <!--  .container -->
	</div>
<script type="text/javascript">
$(document).ready(function(){
	$('#menu').slicknav();
});
</script>
</body>
</html>
